.skeleton-animation {
  background: linear-gradient(
    25deg,
    var(--light-gray) 0%,
    var(--light-grayish-blue) 100%
  );
  background-size: 400% 400%;
  animation: loading-skeleton 3s ease-in-out infinite;
}

@keyframes loading-skeleton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
