/* Add comment skeleton */
.add_comment-skeleton {
  display: grid;
  grid-template-columns: 3rem calc(75% - 4rem) auto;
  align-items: flex-start;
  justify-content: space-between;
  width: 75%;
  max-width: 650px;
  min-width: 320px;
  padding: 2rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  background: var(--white);
}

/* Add comment skeleton - User avatar */
.add-comment_profile-photo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  grid-row: 1/2;
  grid-column: 1/2;
}

/* Add comment skeleton - Textarea */
.add-comment_textarea {
  width: 100%;
  height: 7rem;
  border-radius: 5px;
  grid-row: 1/2;
  grid-column: 2/3;
}

/* Add comment skeleton - Send comment button */
.add-comment_send-btn {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 1/2;
}

@media (max-width: 650px) {
  .add-comment_profile-photo {
    grid-row: 2/3;
  }

  .add-comment_textarea {
    grid-column: 1/4;
    margin-bottom: 1.5rem;
  }

  .add-comment_send-btn {
    grid-row: 2/3;
  }
}
