.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
}
.not-found h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--dark-blue);
}
