.header {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid var(--light-gray);
  background: var(--white);
}
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 12rem 0;
}
