/* Comment */
.comment {
  display: grid;
  grid-template-columns: 7% calc(90% - 50px) repeat(2, 25px);
  align-content: center;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
  background: var(--white);
}
