/* Comment */
.comment {
  display: grid;
  grid-template-columns: repeat(2, auto) repeat(2, 3rem);
  align-content: center;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
  background: var(--white);
}

/* Comment header */
.comment_header {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: var(--dark-blue);
}
.comment_username {
  margin: 0 1rem;
  font-weight: bold;
}
.comment_current-user {
  padding: 0.2rem 0.4rem;
  margin-right: 1.2rem;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  color: var(--white);
  background: var(--moderate-blue);
}

/* Comment buttons */
.comment_reply-btn,
.comment_delete-btn,
.comment_edit-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60px;
  margin-right: 0;
  margin-left: auto;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--moderate-blue);
  border: none;
  background: transparent;
  cursor: pointer;
  grid-column: 3/4;
  grid-row: 1/2;
}
.comment_delete-btn {
  grid-column: 2/3;
  color: var(--soft-red);
}

/* Comment text */
.comment_text {
  grid-column: 2/5;
  grid-row: 2/4;
  margin: 1.5rem 1rem;
  font-size: 1.5rem;
  color: var(--dark-blue);
}
.comment_text_replyingTo {
  font-weight: bold;
  color: var(--moderate-blue);
}

/* Comment likes */
.comment_like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: self-start;
  justify-self: self-start;
  width: 100%;
  height: 100%;
  max-height: 8rem;
  max-width: 3rem;
  min-width: 3rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background: var(--light-gray);
}
.comment_like button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.comment_like button:hover {
  filter: hue-rotate(50deg);
}
.comment_likes {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--grayish-blue);
}

@media (max-width: 650px) {
  .comment_header {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .comment_text {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .comment_like {
    flex-direction: row;
    max-height: 3rem;
    max-width: 6rem;
    min-width: 6rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .comment_reply-btn,
  .comment_delete-btn,
  .comment_edit-btn {
    grid-row: 3/4;
  }
}
