/* Edit comment - textarea */
.comment_edit-textarea {
  width: 98%;
  margin: 1.5rem 1rem;
  grid-column: 2/5;
}

/* Edit comment - update button */
.comment_update-btn {
  padding: 1rem 2rem;
  justify-self: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  background: var(--moderate-blue);
  grid-column: 4/5;
  grid-row: 3/4;
}

@media (max-width: 650px) {
  .comment_edit-textarea {
    grid-column: 1/5;
  }
}
