/* Comment header */
.comment_header {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: var(--dark-blue);
}
.comment_username {
  max-width: 70px;
  margin: 0 1rem;
  font-weight: bold;
  overflow-x: scroll;
  scrollbar-width: none;
}
.comment_username::-webkit-scrollbar {
  display: none;
}
.comment_username:hover {
  scrollbar-width: thin;
}
.comment_username:hover::-webkit-scrollbar {
  display: block;
  height: 5px;
  background: var(--light-gray);
}
.comment_username:hover::-webkit-scrollbar-thumb {
  background: var(--light-grayish-blue);
}
.comment_current-user {
  padding: 0.2rem 0.4rem;
  margin-right: 1.2rem;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  color: var(--white);
  background: var(--moderate-blue);
}
.comment_time {
  width: 100%;
  max-width: 90px;
}

@media (max-width: 650px) {
  .comment_header {
    grid-column: 1/5;
    grid-row: 1/2;
  }
}
